@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Simonetta:ital@1&display=swap');




.adjust1{
    /* margin:2rem 0rem 0 0rem; */
    padding-top: 4rem;
    padding-bottom: 2rem;
    /* text-align: left; */
}
h1{
    font-family: 'Alkatra', cursive;
    font-size: 50px;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
#gallery{
    background-color: #EFD8BB;
}
.home-btn{
    background-color: rgb(253, 97, 97);
}
#ita{
    font-family: 'Simonetta', cursive;
    font-size: 20px;
}
.img-fluid{
    max-height: 350px;
}
.galimg{
    margin: 3rem;
    max-width: 350px;
    border-radius: 20px 0 20px 0;
    /* padding: 1rem; */
}